.my-cards{
  width: 210px;
  height: 410px;
  img{
    width: 150px;
    height: 180px;
  }
  .col-12{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    text-align: center;
  }
  li{
    list-style: none;
  }
}